# Python
.idea/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
*.egg-info/
dist/
build/

# private command files
commands.json
findTodos.py
src/add_sensitive_data_to_commands.py
src/speech_commands/personal_commands/info_commands.json
PythonToAutogui.py


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment Variables
.env

# Logs
*.log
src/log.txt


# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.mp3
temp.py

# macOS
.DS_Store

# Windows
Thumbs.db

current.txt
imports.txt
src/temp.py